<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Example_MultiOptionCart>
			<version>0.1.0</version>
		</Example_MultiOptionCart>
	</modules>
	<global>
		<resources>
			<example_multioption_setup>
				<setup>
					<module>Example_MultiOptionCart</module>
					<class>Example_MultiOptionCart_Model_Resource_Setup</class>
				</setup>
			</example_multioption_setup>
		</resources>
		<helpers>
			<example_multioption>
				<class>Example_MultiOptionCart_Helper</class>
			</example_multioption>
		</helpers>
	</global>
	<frontend>
		<routers>
			<multioption>
				<use>standard</use>
				<args>
					<module>Example_MultiOptionCart</module>
					<frontName>multioption</frontName>
				</args>
			</multioption>
		</routers>
		<layout>
			<updates>
				<multioption>
					<file>example/multioption.xml</file>
				</multioption>
			</updates>
		</layout>
	</frontend>
	<default>
		<example_multioption>
			<config>
				<product_id></product_id>
			</config>
		</example_multioption>
	</default>
</config>