<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Example_Brand>
			<version>0.1.0</version>
		</Example_Brand>
	</modules>
	<global>
		<blocks>
			<example_brand>
				<class>Example_Brand_Block</class>
			</example_brand>
		</blocks>
		<models>
			<example_brand>
				<class>Example_Brand_Model</class>
				<resourceModel>example_brand_resource</resourceModel>
			</example_brand>
			<example_brand_resource>
				<class>Example_Brand_Model_Resource</class>
				<entities>
					<brand>
						<table>example_brand_entity</table>
					</brand>
				</entities>
			</example_brand_resource>
		</models>
		<resources>
			<example_brand_setup>
				<setup>
					<module>Example_Brand</module>
					<class>Example_Brand_Model_Resource_Setup</class>
				</setup>
			</example_brand_setup>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<example_brand>
					<file>example/brand.xml</file>
				</example_brand>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Example_Brand before="Mage_Adminhtml">Example_Brand_Adminhtml</Example_Brand>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<example_brand>
					<file>example/brand.xml</file>
				</example_brand>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<example_brand>
			<config>
				<logo_dir>/example/brand/</logo_dir>
			</config>
		</example_brand>
	</default>
</config>