<?xml version="1.0"?>
<config>
  <modules>
    <Xcommerce_InventoryPublisher>
      <version>1.0.0.0</version>
    </Xcommerce_InventoryPublisher>
  </modules>
  <global>
    <models>
      <xcommerce_inventorypublisher>
        <class>Xcommerce_InventoryPublisher_Model</class>
      </xcommerce_inventorypublisher>
    </models>

    <events>
      <catalog_product_save_after>
        <observers>
          <inventorypublisher>
            <class>xcommerce_inventorypublisher/observer</class>
              <method>saveInventoryData</method>
          </inventorypublisher>
        </observers>
      </catalog_product_save_after>
    </events>

  </global>
</config>

