<?xml version="1.0"?>
<config>
	<modules>
		<Xcommerce_Cse>
			<version>0.1.0</version>
		</Xcommerce_Cse>
	</modules>

	<global>

		<blocks>
			<cse>
				<class>Xcommerce_Cse_Block</class>
			</cse>
		</blocks> 
		
		<helpers>
		    <cse>
				<class>Xcommerce_Cse_Helper</class>
			</cse>
		</helpers>

	</global>

	<frontend>
		<routers>
			<Xcommerce_Cse>
				<use>standard</use>
				<args>
					<module>Xcommerce_Cse</module>
					<frontName>cse</frontName>
				</args>
			</Xcommerce_Cse>
		</routers>
	</frontend>

</config> 